pyrsistent==0.16.0
brotli==1.0.7
cryptography==3.0
Cython==0.29.21
docutils==0.16
Flask==1.1.2
functools32==3.2.3-2
importlib_metadata==1.7.0
jsonpointer==2.0
keyring==21.2.1
lxml==4.5.2
mock==4.0.2
mypy_extensions==0.4.3
nose==1.3.7
numpy==1.19.0
ordereddict==1.1
pandas==1.0.5
Pillow==7.2.0
protobuf==3.12.2
pyOpenSSL==19.1.0
pyperf==2.0.0
pysqlite==2.8.3
pytest==5.4.3
rfc3339_validator==0.1.2
rfc3986_validator==0.1.1
rfc3987==1.3.8
simplejson==3.17.2
Sphinx==3.1.2
strict_rfc3339==0.7
sympy==1.6.1
testpath==0.4.4
toml==0.10.1
Twisted==20.3.0
uritemplate==3.0.1
webcolors==1.11.1
wincertstore==0.2
zipp==3.1.0
